/* CTA */
.cta-section {
    padding: 120px 6%;
    text-align: center;
}

.cta-container h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.cta-container p {
    color: #c9e4d7;
    margin-bottom: 30px;
}

.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Explore */
.explore-section {
    padding: 120px 6%;
}

.camp-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
}

.camp-card {
    background: #1b2f28;
    border-radius: 16px;
    overflow: hidden;
    transition: 0.3s ease;
}

.camp-card:hover {
    transform: translateY(-8px);
}

.camp-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.camp-card-body {
    padding: 20px;
}

.camp-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

/* Show Page */
.show-section {
    padding: 120px 6%;
}

.show-container {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
}

.show-image img {
    width: 500px;
    border-radius: 18px;
}

.show-content {
    flex: 1;
}

.location {
    color: #c9e4d7;
    margin-bottom: 15px;
}

.price {
    font-size: 1.2rem;
    margin-top: 20px;
}
